<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% for msg in messages %}
  <p id="show-msg">{{ msg.message }}</p>
  {% endfor %}
  <span id="live-msg"></span>
   <form action="">
      <input type="text" id="message">
      <input type="button"  id="send" value="Send">
   </form>
   <script src="{{ url_for('static', filename='js/sock.js') }}"></script>
   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>